# 为什么要学习python
    1 创建网站
    2 数据分析
    3 爬虫工程师
    4 人工智能
    5 金融量化分析
    ....

## Python 数据类型：string list set dict
    C C++ java .. python 解释性的语言

In [ ]:
a = 1

In [ ]:
type(a)

## https://github.com/liehejia/bilibli
基本运算 + - x / 平方 余数 取整

In [ ]:
x, y = 2, 3    # 等同于 x = 2, y = 3
z = x + y

In [ ]:
x+y

In [ ]:
y - x

In [ ]:
x * y

In [ ]:
y / x

In [ ]:
type(y/x)

In [ ]:
x ** 2

In [ ]:
x ** 4

In [ ]:
y % x

In [ ]:
y//x   #3/2 = 1.5

In [ ]:
z = x * y - x ** 2

In [ ]:
z

In [ ]:
z = x * (y - x ** 2)

In [ ]:
z

In [ ]:
# int()和round()区别

In [ ]:
int(2.9)

In [ ]:
round(2.1)

# String 字符串操作
    upper()  lower() count() join()  split()

In [ ]:
# str
name1 = "张三"    #  等同于 name1 = '张三'   
name2 = "李四"
name = name1 + name2

In [ ]:
name

In [ ]:
name1 < name2

In [ ]:
"a" < "b"

In [ ]:
ord("张")     #  ASCII码

In [ ]:
chr(24352)

In [ ]:
name3, name4 = "Zhang Three", "LI FOUR"

In [ ]:
name3.upper()

In [ ]:
name4.lower()

In [ ]:
name3.count('e')

In [ ]:
"爱上了".join([name1,name2])

In [ ]:
age = "张三 李四 好基友"

In [ ]:
age.split()   # split(" ")

In [ ]:
type(age)

In [ ]:
help(str)

# list 列表

In [ ]:
my_list = [1, 4, 9, 16, 25]

In [ ]:
my_list[0]

In [ ]:
my_list[-1]

In [ ]:
my_list[-3:]

In [ ]:
my_list[:]

In [ ]:
my_list + [36, 49, 64, 81, 100]

In [ ]:
my_list.append(216)  #添加

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
letters[2:5] = ['C', 'D', 'E']

In [ ]:
letters

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]

In [ ]:
x

In [ ]:
x[0]

In [ ]:
x[0][1]

In [ ]:
f = [0]*3

In [ ]:
f

In [ ]:
my_list

In [ ]:
my_list.remove(4)

In [ ]:
my_list

# tuple set dict

In [1]:
# tuple
age = (18, 19, 30)
name = ("张三","李四", "王五")
age + name

(18, 19, 30, '张三', '李四', '王五')

In [2]:
age[0] = 20

TypeError: 'tuple' object does not support item assignment

In [3]:
age[0]

18

In [4]:
tuple(zip(age,name))

((18, '张三'), (19, '李四'), (30, '王五'))

In [5]:
set(zip(age,name))

{(18, '张三'), (19, '李四'), (30, '王五')}

In [6]:
dict(zip(age,name))

{18: '张三', 19: '李四', 30: '王五'}

In [7]:
dict(zip(name,age))

{'张三': 18, '李四': 19, '王五': 30}

In [9]:
set("aabbccdddd")  # 去重

{'a', 'b', 'c', 'd'}

In [10]:
from collections import Counter

In [12]:
Counter("aabbccaa")

Counter({'a': 4, 'b': 2, 'c': 2})

In [13]:
s = [[key,value] for key,value in Counter("aaabcc").items()]

In [14]:
s

[['a', 3], ['b', 1], ['c', 2]]

In [17]:
sorted()

TypeError: sorted expected 1 argument, got 0

In [19]:
sorted(s,key=lambda x:x[0])

[['a', 3], ['b', 1], ['c', 2]]

In [20]:
#  集合。  并集，交集，差集
a = set('abracadabra')
b = set('alacazam')

In [21]:
a

{'a', 'b', 'c', 'd', 'r'}

In [22]:
b

{'a', 'c', 'l', 'm', 'z'}

In [23]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [24]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [25]:
a & b                              # letters in both a and b

{'a', 'c'}

In [26]:
 a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}